.friends {
  width: 100%;
  border-radius: 20px;
  background-color: var(--white);
  box-sizing: border-box;
  padding: 15px;
  height: 310px;
  overflow-y: auto;
}

.friends-header h4 {
  font-family: var(--primary-font);
  font-size: 20px;
  font-weight: 600;
  color: var(--black);
}

.friends-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 10px;
}

.friends-wrapper:last-child {
  border-bottom: none;
}

.friends-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.friends-name {
  width: 60%;
}

.friends-name h4 {
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 600;
  color: var(--black);
}

.friends-btn {
  width: 20%;
}

.friends-btn .unfriend-btn {
  width: 100%;
  border: none;
  color: var(--white);
  background-color: var(--blue);
  padding: 4px 0;
  border-radius: 5px;
  font-family: var(--primary-font);
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  margin-bottom: 5px;
  transition: all linear 0.3s;
}

.friends-btn .unfriend-btn:hover {
  background-color: var(--black);
  color: var(--white);
}

.friends-btn .block-btn {
  width: 100%;
  border: none;
  color: var(--white);
  background-color: var(--blue);
  padding: 4px 0;
  border-radius: 5px;
  font-family: var(--primary-font);
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  margin-bottom: 5px;
  transition: all linear 0.3s;
}

.friends-btn .block-btn:hover {
  background-color: rgb(255, 62, 62);
}
