/* Common css start */
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}
 
:root {
  --primary-font: "Poppins", sans-serif;
  --primary-color: #5f35f5;
  --secondary-font: "Open Sans", sans-serif;
  --third-font: "Nunito", sans-serif;
  --primary-text-color: #11175d;
  --secondary-color: #03014c;
  --secondary-text-color: #64699d;
  --blue: #6d67e4;
  --border-color: #11175d;
  --button-color: #0d1037;
  --error: #ea6c00;
  --white: #fff;
  --black: #000;
  --green: #00ff75;
  --secondary-white: #f1f1f1;
  --body-color: #f9f9f9;
  --border-color: rgba(3, 1, 76, 0.2);
  --red-button: rgb(193, 0, 0);
  --left-msg: #f0f0ff;
  --msg-color: #000;
  --right-msg: #6363fc;
}

.dark {
  --primary-color: #001c30;
  --body-color: #03001c;
  --primary-text-color: #fff;
  --black: #ddd;
  --border-color: #efefef;
  --white: #001c30;
  --blue: #6d67e4;
  --msg-left-color: #001c30;
}

body {
  background-color: var(--body-color);
}

body .dark {
  background-color: var(--body-color);
}

.main_box {
  height: 102vh;
}

.error-message {
  font-family: var(--secondary-font);
  font-size: 14px;
  color: red;
  font-weight: 500;
  margin-bottom: 18px;
}
/* Common css end */
